<app-modal [ModalId]="modalId">
  <p class="text-2xl font-bold">Edit Video</p>

  <!--the alert divs-->
  <div id="alertSuccess">
    @if (showUploadSuccess) {
      <div
        class="mt-5 flex items-center text-center p-4 mb-4 text-sm text-green-400 border border-green-800 rounded-lg bg-green-900"
        role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">The file is uploaded successfully</span>
        </div>
      </div>
    }
  </div>

  <div id="alertEditing">
    @if (showUploadAlert) {
      <div
        class="mt-5 flex items-center text-center p-4 mb-4 text-sm text-green-400 border border-green-800 rounded-lg bg-green-900"
        role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">The file is uploaded successfully</span>
        </div>
      </div>
    }
  </div>

  <div id="alertFailed">
    @if (showUploadError) {
      <div
        class="mt-5 flex items-center text-center p-4 mb-4 text-sm text-green-400 border border-green-800 rounded-lg bg-green-900"
        role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">The file is uploaded successfully</span>
        </div>
      </div>
    }
  </div>

  <!-- Form -->
  <form [formGroup]="editFormGroup" (ngSubmit)="Submit()">
    <!-- Title -->
    <div class="mt-4">
      <label class="block text-xl mb-4">Title</label>
      <input [formControl]="Title" placeholder="Enter Title" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
        duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400">
      <label class="block text-xl m-2">ID</label>
      <input [formControl]="clipId"
             class="mb-5 text-sm rounded-lg block w-full p-2.5 cursor-not-allowed bg-gray-700 border-gray-600 placeholder-gray-400 text-gray-400 focus:ring-blue-500 focus:border-blue-500">
    </div>

    <div class="mt-4 text-right">
      <button id="submiteButton" type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none
          disabled:opacity-50 disabled:bg-indigo-400"
              [disabled]="editFormGroup.invalid || inSubmission">
        Update
      </button>
    </div>
  </form>
</app-modal>
