<form [formGroup]="registerForm" (ngSubmit)="Register()">
  <!-- Name -->
  <div class="mb-3">
    <label class="inline-block mb-2">Name</label>
    <input formControlName="name" type="text"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Enter Name"/>
    @if(registerForm.get('name')?.getError('required') && registerForm.get('name')?.touched)
    {<p class="text-red-400 text-sm">Name is required</p>}
    @if(registerForm.get('name')?.getError('minlength') && registerForm.get('name')?.touched)
    {<p class="text-red-400 text-sm">Name must be at least 3 characters</p>}
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <input formControlName="email" type="email"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Enter Email"/>
    @if(registerForm.get('email')?.getError('required') && registerForm.get('email')?.touched)
    {<p class="text-red-400 text-sm">Email is required</p>}
    @if(registerForm.get('email')?.getError('email') && registerForm.get('email')?.touched)
    {<p class="text-red-400 text-sm">Email is invalid</p>}
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label class="inline-block mb-2">Age</label>
    <input formControlName="age" type="number"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"/>
    @if(registerForm.get('age')?.getError('required') && registerForm.get('age')?.touched)
    {<p class="text-red-400 text-sm">Age is required</p>}
    @if(registerForm.get('age')?.getError('min') && registerForm.get('age')?.touched)
    {<p class="text-red-400 text-sm">Age must be at least 10</p>}
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input formControlName="password" type="password"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Password"/>
    @if(registerForm.get('password')?.getError('required') && registerForm.get('password')?.touched)
    {<p class="text-red-400 text-sm">Password is required</p>}
    @if(registerForm.get('password')?.getError('minlength') && registerForm.get('password')?.touched)
    {<p class="text-red-400 text-sm">Password must be at least 6 characters</p>}
    @if(registerForm.get('password')?.getError('pattern') && registerForm.get('password')?.touched)
    {<p class="text-red-400 text-sm">Password must contain at least one uppercase, one lowercase, one number and one special character</p>}
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Confirm Password</label>
    <input formControlName="confirm_password" type="password"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Confirm Password"/>
    @if(registerForm.controls.confirm_password.getError('required') && registerForm.controls.confirm_password.touched)
    {<p class="text-red-400 text-sm">Confirm Password is required</p>}
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <input formControlName="phone_number" type="text"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Enter Phone Number"/>
    @if(registerForm.get('phone_number')?.getError('required') && registerForm.get('phone_number')?.touched)
    {<p class="text-red-400 text-sm">Phone Number is required</p>}
    @if(registerForm.get('phone_number')?.getError('minlength') && registerForm.get('phone_number')?.touched)
    {<p class="text-red-400 text-sm">Phone Number must be 11 digits</p>}
    @if(registerForm.get('phone_number')?.getError('maxlength') && registerForm.get('phone_number')?.touched)
    {<p class="text-red-400 text-sm">Phone Number must be 11 digits</p>}

  </div>
  <button type="submit"
          class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
                hover:bg-indigo-500  disabled:opacity-50 disabled:bg-indigo-400" [disabled]="registerForm.invalid">
    Submit
  </button>
</form>
