<form [formGroup]="registerForm" (ngSubmit)="Register()">
  <!-- Name -->
  <div class="mb-3">
    <label class="inline-block mb-2">Name</label>
    <input formControlName="name" type="text"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Enter Name"/>
    @if(registerForm.get('name')?.getError('required') && registerForm.get('name')?.touched)
    {<p class="text-red-400 text-sm">Name is required</p>}
    @if(registerForm.get('name')?.getError('minlength') && registerForm.get('name')?.touched)
    {<p class="text-red-400 text-sm">Name must be at least 3 characters</p>}
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <input formControlName="email" type="email"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Enter Email"/>
    @if(registerForm.get('email')?.getError('required') && registerForm.get('email')?.touched)
    {<p class="text-red-400 text-sm">Email is required</p>}
    @if(registerForm.get('email')?.getError('email') && registerForm.get('email')?.touched)
    {<p class="text-red-400 text-sm">Email is invalid</p>}
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label class="inline-block mb-2">Age</label>
    <input formControlName="age" type="number"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"/>
    @if(registerForm.get('age')?.getError('required') && registerForm.get('age')?.touched)
    {<p class="text-red-400 text-sm">Age is required</p>}
    @if(registerForm.get('age')?.getError('min') && registerForm.get('age')?.touched)
    {<p class="text-red-400 text-sm">Age must be at least 10</p>}
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input formControlName="password" type="password"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Password"/>
    @if(registerForm.get('password')?.getError('required') && registerForm.get('password')?.touched)
    {<p class="text-red-400 text-sm">Password is required</p>}
    @if(registerForm.get('password')?.getError('minlength') && registerForm.get('password')?.touched)
    {<p class="text-red-400 text-sm">Password must be at least 6 characters</p>}
    @if(registerForm.get('password')?.getError('pattern') && registerForm.get('password')?.touched)
    {<p class="text-red-400 text-sm">Password must contain at least one uppercase, one lowercase, one number and one special character</p>}
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Confirm Password</label>
    <input formControlName="confirm_password" type="password"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Confirm Password"/>
    @if(registerForm.controls.confirm_password.getError('required') && registerForm.controls.confirm_password.touched)
    {<p class="text-red-400 text-sm">Confirm Password is required</p>}
    @if(registerForm.controls.confirm_password.getError('NoMatch') && registerForm.controls.confirm_password.touched)
    {<p class="text-red-400 text-sm">the passwords dont match</p>}
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="inline-block mb-2">Phone Number</label>
    <input formControlName="phone_number" type="text"
           class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
           placeholder="Enter Phone Number"/>
    @if(registerForm.get('phone_number')?.getError('required') && registerForm.get('phone_number')?.touched)
    {<p class="text-red-400 text-sm">Phone Number is required</p>}
    @if(registerForm.get('phone_number')?.getError('minlength') && registerForm.get('phone_number')?.touched)
    {<p class="text-red-400 text-sm">Phone Number must be 11 digits</p>}
    @if(registerForm.get('phone_number')?.getError('maxlength') && registerForm.get('phone_number')?.touched)
    {<p class="text-red-400 text-sm">Phone Number must be 11 digits</p>}

  </div>
  <button type="submit"
          class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
                hover:bg-indigo-500  disabled:opacity-50 disabled:bg-indigo-400" [disabled]="registerForm.invalid || onsubmition">
    Submit
  </button>
</form>

<!--FlowBite Toast-->
<section class="flex justify-center align-middle m-5">
  @if(status === true ){
    <!--toast Success-->
  <section #btnSuccess>
    <div id="toast-success"
         class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-green-400 rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
         role="alert">
      <div
        class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
             viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
        </svg>
        <span class="sr-only">Check icon</span>
      </div>
      <div class="ms-3 text-sm font-normal">User Register Successfully</div>
      <button  type="button"
              (click)="dismissaction(btnSuccess)"
              class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
              data-dismiss-target="#toast-success" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
      </button>
    </div>


  </section>
  } @else if (status === false)
  {
  <!--toast danger-->
  <section #btnError>
    <div id="toast-danger"
         class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-red-300 rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
         role="alert">
      <div
        class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
             viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
        </svg>
        <span class="sr-only">Error icon</span>
      </div>
      <div class="ms-3 text-sm font-normal">{{error}}</div>
      <button  type="button"
              (click)="dismissaction(btnError)"
              class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
              data-dismiss-target="#toast-danger" aria-label="Close" id="TasterDangerDismiss">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
      </button>
    </div>
  </section>
  }
</section>
